@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Radio Canada Big';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/radiocanadabig/v1/LYjZdHrinEImAoQewU0hyTsPFra4SJ2S8g6N.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

font {
    color: #ebebeb;
}

body {
    --dot-bg: linear-gradient(152deg,#fff,#00bfd8 42%,#0083f5);
    --dot-color: grey;
    --dot-size: 1px;
    --dot-space: 22px;
    width: 100%;
    height: 100%;
    background-position: var(--mouse-x) var(--mouse-y);
    background: black;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}

.outline {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;

}

